body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ff80004c;
    height: 100vh;
    box-sizing: border-box;
}

section{
    width: 100%;
    max-width: 1200px;
    margin: 30px 0;
    background-color: #f8f8f8;
    min-height: calc(100% - 60px);
    flex-grow: 1;
    overflow-y: scroll;
}

header {
    position: sticky;
    top: 0;
    background-color: #ff7f00;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
}

header .logo, .people {
    border-radius: 50%;
    height: 50px;
    aspect-ratio: 1;
    overflow: hidden;
}

header .logo img{
    height: 100%;
    transform: translateX(-5px);
}

header .people img{
    height: 100%;
    /* make background transparent */
}

header .btns{
    display: flex;
}

main {
    padding: 40px;
}

article {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    padding: 20px;
}

article a {
    border-radius: 50%;
    height: 50px;
    margin-right: 20px;
    text-decoration: none;
    /* overflow: hidden; */
}

article a img{
    border-radius: 50%;
    height: 100%;
}

p {
    margin-top: 5px;
    color: #666666;
}

a{
    text-decoration: none;
    color: #e57200;
}


button {
    display: grid;
    place-items: center;
    padding: 10px 20px;
    background-color: #ff7f00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    font-size: 1rem;
}

button:hover {
    background-color: #c86400;
}

.desc {
    color: #333;
}

#blogs{
    background-color: #ff80008b;
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-height: calc(100% - 22rem);
}

#blogs h2{
    text-align: center;
}

#profileInfo{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* border: 2px solid red; */
    width: 200px;
}
.profile-img{
    height: 150px;
    width: 150px;
    /* border: 2px solid green; */
    border-radius: 50%;
    aspect-ratio: 1;
    overflow: hidden;
}

.profile-img img{
    height: 100%;
}

.about {
    /* border: 2px solid; */
    width: 100%;
    padding: 10px 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.about p {
    color: #333;
    /* width: calc(50% - 20px); */
    width: 33%;
    min-width: max-content;
    /* border: 2px solid green; */
    color: #555;
    font-size: 120%;
}

.followBtn{
    padding: 1rem 2rem 0;
}

.followBtn button {
    padding: 10px 20px;
    background-color: #ff7f00; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.bottom{
    display: flex;
}
.voteBox{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: max-content;
    /* border: 2px solid red; */
}

.voteBox button{
    padding: 5px 15px;
}

article form {
    /* border: 2px solid green; */
    width: 100%;
    float:right; 
    display:flex; 
    justify-content: 
    flex-end; 
    gap: 1rem;
    padding-right: 1rem;
}

.followBtn button:hover {
    background-color: #c86400;
}


@media screen and (max-width: 768px) {
    section{
        margin: 0;
    }
    #profileInfo{
        flex-wrap: wrap;
    }
    .about{
        justify-content: space-around;
    }
    .about p{
        font-size: 100%;
    }
    .about p:nth-of-type(even){
        text-align: right;
    }
    .followBtn {
        text-align: center;
    }
}