*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #ff80004c;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 75%;
    height: calc(100% - 2rem);
}

header {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

header nav {
    width: 100%;
    height: 5rem;
    background: #ff7f00;
    padding: 1rem;
    border-radius: 1rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

header nav ul li {
    list-style: none;
    margin: 0 1rem;
    /* width: 100%; */
    /* height: 100%; */
}

header nav ul .logo {
    width: 5.5rem;
    aspect-ratio: 1;
    background-color: white;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

header nav ul .logo a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

header nav ul .logo a img {
    width: 100%;
    transform: scale(1.3);
    /* height: 100%; */
}

header nav ul .website-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul .website-name a {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-weight: bold;
}

header nav ul .options {
    display: flex;
    gap: 3rem;
}

header nav ul .options .interact, header nav ul .options .user {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

header nav ul .options .user a{
    white-space: nowrap;
    font-size: smaller;
}

header nav ul .options .user .profile-image {
    width: 3.2rem;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 3rem;
}

header nav ul .options .user .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .button {
    padding: 10px 20px;
    background-color: white;
    color: #ff7f00;
    border-radius: 10px;
}

header .button:hover {
    background-color: #eee;
}

a{
    text-decoration: none;
}

.main-data {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    overflow-y: auto;
}

.main-data::-webkit-scrollbar {
    display: none;
}

.main-data .profile-data{
    background: white;
    border-radius: 1rem;
    padding: 1rem 3rem;
    display: flex;
    gap: 5rem;
}

.main-data .profile-data .profile-username {
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.main-data .profile-data .profile-username .profile-pic {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.main-data .profile-data .profile-username .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-data .profile-data .profile-username .username {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
}

.main-data .profile-data .profile-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3rem;
}

.main-data .profile-data .profile-info .user-data {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 25%;
    margin: 3rem 0 0;
    color: #333;
}

.main-data .profile-data .profile-info .user-data div {
    display: inline-block;
    white-space: nowrap;
}

.main-data .profile-data .profile-info .user-data div a{
    color: #db6d00;
}

.main-data .profile-data .profile-info .user-interaction {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.orange-button {
    padding: 10px 20px;
    background: #ff7f00;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.orange-button:hover {
    background: #db6d00;
}

.user-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    padding: 2rem 5%;
    gap: 2rem;
}

.user-posts .user-posts-heading {
    text-align: center;
}

.user-posts .posts {
    /* margin: 1rem 0; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-posts .posts article {
    width: 100%;
    display: flex;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.user-posts .posts article .profile-pic-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 100%;
}

.user-posts .posts article .profile-pic-section .profile-pic {
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #dfdfdf;
}

.user-posts .posts article .profile-pic-section .profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-posts .posts article .user-posts-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-posts .posts article .user-posts-data .user-about {
    display: flex;
    gap: 5px;
}

.user-posts .posts article .user-posts-data .user-about .username {
    color: #666;
}

.user-posts .posts article .user-posts-data .user-about .name{
    color: #db6d00;
}

.user-posts .posts article .user-posts-data .controls{
    display: flex;
    justify-content: space-between;
}

.user-posts .posts article .user-posts-data .controls .orange-button{
    padding: 5px 10px;
}

.user-posts .posts article .user-posts-data .controls .posts-vote-controls, .user-posts .posts article .user-posts-data .controls .owners-controls{
    display: flex;
    align-items: center;
    gap: 1rem;
}
