body {
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7f00;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

section {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  max-height: calc(100vh - 60px);
  /* margin: 30px 2rem; */
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Form Styles */
form {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    height: 100%;
}

form > #explore{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

form > #profile{
  position: absolute;
  top: 1rem;
  right: 1rem;
}

form > h1 {
  margin: 0;
  color: #ff7f00;
  font-size: 2rem;
  text-align: center;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
  /* flex-direction: column; */
  width: 100%;
}
.input-group .inputBox {
  display: grid;
  gap: 1rem;
  width: calc(50% - 2rem);
}

.input-group label {
  display: flex;
  width: 100%;
  font-weight: bold;
  color: #4e3b28;
}

.input-group input {
  display: flex;
  padding: 10px;
  border: 1px solid #ff7f00;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border: 2px solid #ff7f00;
}

.input-group input::placeholder {
  color: #999;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

button,
a {
  display: grid;
  place-items: center;
  padding: 10px 20px;
  background-color: #ff7f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  font-size: 1rem;
}

button:hover,
a:hover {
  background-color: #c86400;
}

@media screen and (max-width: 668px) {
  .input-group .inputBox {
    width: 100%;
  }
}

.usersBox {
  max-height: calc(100vh - 22rem);
  overflow-y: auto;
}
.user-profiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: 2px solid red; */
  /* overflow-y: scroll; */
}

.user-profile {
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  width: 9rem;
  border-radius: 5px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.user-profile h3 {
  margin: 0;
}

.user-profile p {
  font-size: 95%;
}

.user-profile a {
  font-size: 85%;
  padding: 8px 16px;
}

.user-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
